<div style= "margin-top: 40px;">
  <h1> Create a new card set</h1>
  <%= form_tag '/card_sets', :method => 'post' do %>
  <%= render "layouts/card_sets_form"%>
    <%= label_tag(:set_name, "Set Name:") %>
    <%= text_field_tag(:set_name) %>
    <hr>
    <%= submit_tag "Save Set", class: "btn" %>
    <% end %>
    </div>
  </div>
</div>

<footer class="footer">
  <p>©2021 Piano Pals</p>
    <p>
    <a href="https://github.com/mekinsie">Mekinsie Callahan</a> |
    <a href="https://github.com/MicahOlson">Micah Olson</a> |
    <a href="https://github.com/CrankyJones">Geof Rosenmund</a>
  </p>
</footer>